# This section is used for configuring the MariaDB client tools.
# socket: This system variable specify the location of the Unix socket file
# used for local communication
[mysql]
port = 3306
socket = /var/run/mysqld/mysqld.sock
default_character_set = utf8

# This section is used for configuring the MariaDB server.
# basedir: used to specify the base directory where MariaDB's data directory
# and other system files are located.
[mysqld]
basedir = /usr
bind_address = 0.0.0.0
datadir = /var/lib/mysql
max_allowed_packet = 16M
max_connect_errors = 1000000
pid_file = /var/run/mysqld/mysqld.pid
port = 3306
socket = /var/run/mysqld/mysqld.sock
tmpdir = /tmp
user = mysql

# Error & Slow Log
log_error = /var/lib/mysql/mysql_error.log
slow_query_log_file = /var/lib/mysql/mysql_slow.log
