# requirements.txt
asgiref==3.7.2
channels==4.0.0
daphne==4.0.0
loguru==0.7.2
psycopg==3.1.14
psycopg-binary==3.1.14
psycopg-c==3.1.14
psycopg-pool==3.2.1
sqlparse==0.4.4
typing_extensions==4.8.0
wheel==0.42.0
setuptools==69.0.3

# Django

Django==5.0

# Time zone support

pytz==2023.3.post1

# Oauth2 support
django-allauth==0.61.0

# Prometheus support
django-prometheus==2.3.1
